
version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: defi-fullstack-app
        volumes:
            - .:/var/www/html
        expose:
            - 9000
        env_file:
            - .env
        networks:
            - train-network

    web:
        image: nginx:stable-alpine
        container_name: defi-fullstack-web
        ports:
            - "8000:80"
        volumes:
            - .:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - train-network

networks:
    train-network:
        driver: bridge
