services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Explicit registration if needed
    App\Application\Service\RouteCalculator:
        autowire: true
        autoconfigure: true
        public: true
